    @font-face {
        font-family: "akzidenz-grotesk-extended";
        src: 
        url("https://use.typekit.net/af/e82fd6/000000000000000000013757/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),
        url("https://use.typekit.net/af/e82fd6/000000000000000000013757/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),
        url("https://use.typekit.net/af/e82fd6/000000000000000000013757/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
      }

html {
    font-family: "akzidenz-grotesk-extended", sans-serif;
}

*, html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.top-banner-container {
    height: 100vh;
    background: linear-gradient(0deg, rgba(236, 208, 159, 0.4), rgba(236, 208, 159, 0.4)), url("/images/francesca-saraco-_dS27XGgRyQ-unsplash.jpeg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.top-banner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    h1 {
        color: #fff;
        display: grid;
        font-size: 8rem;
        text-align: center;

        span {
            font-size: 2.5rem;
        }
    }
}

.lux-card-container {
    background: #1a2250;
    padding-top: 20vh;

}

.move-card {
    position: relative;
    top: -50px;
}
.move-card-bottom {
    position: relative;
    top: -100px;
}
.lux-card-wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image content";

    &.reversed {
        grid-template-areas: "content image";
    }
    .left-content-wrapper {
    grid-area: image;
    overflow: hidden;
    object-fit: cover;
    img {
        width: 100%;
    }
    }

    .right-content-wrapper {
        padding: 60px;
        color: #e1d1a5;
        grid-area: content;

        .tagline {
            text-align: right;
        }

        h2 {
            font-size: 4rem;
            margin: 50px 0;
        }

        p {
            font-size: 1.2rem;
            font-weight: 300;
            line-height: 2rem;
        }
    }

    
}


.carousel-wrapper img {
    width: 100%;
}



// modal
